.hero-section{
    position: relative;
    background-image: linear-gradient(black, rgba(0, 0, 0, 0.247)), url("/img/home/hero-background.jpg");
    background-position:0% 80%;
    max-width: 99.2vw;
    height: 60rem;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;


 



}